body {
}

#page {
    width: 70%;
    margin:0 auto;

}
#container {
    margin:0 auto;
}
.error {
    color:red;
}

.editor-label {
    font-weight:bold;
    margin-top:10px;
}
.validation-summary-errors {
    color:red;
}

#tabell {
    position:absolute;
    top:90px;
    left:400px;
    margin-left:25px;
    width:500px;
    height:400px;
    border:1px solid #808080;
    background:#f5f5f5;
}